<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Multi Line Axes</title>
	<link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <!-- <link rel="stylesheet" href="d31-style.css">  -->
    <link rel="{{ url_for('static', filename='css/avg-style.css') }}">
</head>
<body>
    <!-- <script src="avePricePoints.js"></script> -->
    <script src="{{ url_for('static', filename='js/countryAve.json }}"></script>
    <script src="{{ url_for('static', filename='js/avePricePoints.js') }}"></script>
</body>
</html>
