<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project II</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Titillium+Web" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <!--Optional Theme-->
    <!--<link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <!--Use .container-fluid for a full width container-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="home" class="active navbar-brand brand_color" href="/">Wines</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="placeholder.html">Data Discovery</a>
                    </li>
                    <li>
                        <a href="/wine-r&d">Wine R&D</a>
                    </li>
                    <li>
                        <a href="/finder">Wine Finder</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summary
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop_down_color">
                            <li>
                                <a href="placeholder1.html">Charts</a>
                            </li>
                            <li>
                                <a href="/summary">D3</a>
                            </li>
                            <li>
                                <a href="placeholder1.html">Chloropleth</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Page General Information-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="page-header">
        <div class="jumbotron" >

            <div class="row">
                <div class="left col-lg-8 col-md-8 col-xs-12">
                    <h1>Summary Level Data</h1>
                    <!-- <img src="fall-rose-wine.jpg" alt="Wine picture" width="300" height="300" class="pull-left img_responsive img-rounded"> -->

                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="container-fluid">
            <!-- <div class="page-header"></div> -->
                <!-- <div class="jumbotron" style="background-color: white;"> -->
                    
                    <header>
                        <h2>Wine Dashboard</h2>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Average Price & Points by Country</h3>
                            <a>
                            <!-- <div id= "d3-1"></div>  -->
                            <img id='img1' src="{{ url_for('static', filename='assets/avg-price-points.png') }}" class="img-responsive" alt="D31">
                            </a>
                            </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Top 12 Countries by Review Count</h3>
                            <a href="place.html">
                            <img id='img2' src="{{ url_for('static', filename='assets/top12countries.png') }}" class="img-responsive" alt="D32">
                            </a>
                        </div>
                        </div>
                        <div class="row">
                         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Top 12 Varieties by Review Count</h3>
                            <a href="place.html">
                            <img id='img3' src="{{ url_for('static', filename='assets/top12varieties.png') }}" class="img-responsive" alt="D33">
                             </a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h3>Chloropleth</h3>
                            <a href="place.html">
                            <img id='img4' src="{{ url_for('static', filename='assets/draftmap.png') }}" class="img-responsive" alt="D34">
                            </a>
                        </div>
                        </div>
                        <div class="clearfix"></div>
                    </header>
                 </div>
            </div>

        </div>

    </div>
</body>
<!-- Footer-->
<div class="container-fluid">
    <div class="text-center">
        <footer class="footer" role="contentinfo" style="background-color: lightgrey">
            <div class="footer_main_menu text-center">
                <a href="/" title="Home">Home \ </a>
                <a href="/contact" title="Contact">Contact</a>
            </div>
            <!--Div for footer-->
            <div class="footer_main_social-links">
                <a href="https://github.com/alexa289/Boot-Camp-Project-II">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://twitter.com/wineenthusiast">
                    <i class="fa fa-twitter"></i>
                </a>
                <p class="footer-text">
                    <small> © Copyright NWU Data Science Boot Camp
                        </br>
                        April 2018
                    </small>
                </p>
            </div>
        </footer>
    </div>
</div>
<script src="{{ url_for('static', filename='js/avePricePoints.js') }}"></script>
</body>


</html>