<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Project II</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Titillium+Web" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    <!--Optional Theme-->
    <!--<link rel='stylesheet' href="https://bootswatch.com/4/lux/bootstrap.min.css">-->
    <!-- <link rel="stylesheet" href="static/style.css"> -->
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
        <!--Use .container-fluid for a full width container-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="home" class="active navbar-brand brand_color" href="/">Wines</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="myBar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="placeholder.html">Data Discovery</a>
                    </li>
                    <li>
                        <a href="/wine-r&d">Wine R&D</a>
                    </li>
                    <li>
                        <a href="/finder">Wine Finder</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Summary
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu drop_down_color">
                            <li>
                                <a href="placeholder1.html">Charts</a>
                            </li>
                            <li>
                                <a href="/summary">D3</a>
                            </li>
                            <li>
                                <a href="placeholder1.html">Chloropleth</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Page General Information-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- <div class="page-header"> -->
            <div class="jumbotron"style="background-image: url(./images/fall-rose-wine.jpg);">
                <div class="row">
                    <div class="left col-lg-8 col-md-8 col-xs-12">
                        <h1>Wines</h1>
                        <!-- <img src="fall-rose-wine.jpg" alt="Wine picture" width="300" height="300" class="pull-left img_responsive img-rounded"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="left col-lg-8 col-md-8 col-xs-12">
                    <h2>placeholder</h2>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                            from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked
                            up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word
                            in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus
                            Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of
                            ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a
                            line in section 1.10.32. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                            Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form,
                            accompanied by English versions from the 1914 translation by H. Rackham.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
                            text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
                            has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It
                            was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                    <a href="placeholder.html">Visualization1</a>,
                                    <a href="placeholder.html">Visualization2</a>,
                                    <a href="placeholder.html">Visualization3</a>, and
                                    <a href="placeholder.html">Visualization4</a>
                            </p>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-10">
                    <h2> Visualizations </h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <a href="placeholder.html">
                                    <img src="placeholder.jpg" class="img_responsive" alt="Image 1">
                                </a>
                            </div>
                        </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="thumbnail">
                            <a href="placeholder.html">
                                <img src="placeholder.jpg" class="img_responsive" alt="Image 2">
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <a href="placeholder.html">
                                    <img src="placeholder.jpg" class="img_responsive" alt="Image 3">
                                </a>
                            </div>
                        </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="thumbnail">
                                <a href="placeholder.html">
                                    <img src="placeholder.jpg" class="img_responsive" alt="Image 4">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        <div class="clearfix"></div>
    </div>
</div>
        <!-- jQuery for Bootstrap JavaScript plugins -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <!-- <script src="js/bootstrap.min.js"></script> -->
</body>

<div class="container-fluid">
    <div class="text-center">
        <footer class="footer" role="contentinfo" style="background-color: lightgrey">
            <div class="footer_main_menu text-center">
                <a href="/" title="Home">Home</a>
                <a href="/viz" title="Visualization1">Visualization1</a>
                <a href="/viz" title="Visualization1">Visualization2</a>
                <a href="/viz" title="Visualization1">Visualization3</a>
                <a href="/viz" title="Visualization1">Visualization4</a>
                <a href="/contact" title="Contact">Contact</a>
            </div>
            <!--Div for footer-->
            <div class="footer_main_social-links">
                <a href="https://github.com/alexa289/Boot-Camp-Project-II">
                    <i class="fa fa-github"></i>
                </a>
                <a href="https://twitter.com/wineenthusiast">
                    <i class="fa fa-twitter"></i>
                </a>
                <p class="footer-text">
                    <small> © Copyright NWU Data Science Boot Camp
                        </br>
                        April 2018
                    </small>
                </p>
            </div>
        </footer>
    </div>
</div>

</html>
</html>